/* Modif de test pour l'équipe */
.movie-card:hover {
  outline: 4px solid #fecc00; /* Bordure jaune Allociné au survol */
  outline-offset: 2px;
  box-shadow: 0 0 20px rgba(254, 204, 0, 0.5) !important;
}

/* On change aussi la couleur du titre au survol */
.movie-card:hover .card-title {
  color: #fecc00 !important;
}